.postContainer{
    border-bottom: 1px solid black;
    padding: 20px 0px 20px 0px;
}
.postHeader{
    border-bottom: 1px solid black;
}
.commentContainer{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}
.CommentForm{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    justify-self: center;
    text-align: start;
    max-width: 700px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    'input button'
    ;
    gap: 10px;
    background-color: rgb(243, 243, 243);
}
.commentLable{
    grid-area: label;
}
.commentInput{
    grid-area: input; 
    text-align: start;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 400%;
    white-space: pre-wrap;
    word-wrap: break-word;      
}
.commentButton{
    grid-area: button;
    align-self: center;
    justify-self: end;
    width: 100%;
    border-radius: 5px;
}