.topnav{
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
    justify-items: end;

}
.titleAccessory{
    display: inline;
    color: rgb(238, 236, 236);
    font-size: 42px;
}
.title{
    flex: 3;
    text-align: start;
}
.titleRout{
    display: inline;
    color: rgb(176, 176, 177);
}
.NavLinks{
    flex: 1;
}